/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Style for Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding-top: 40px;
}

/* Style for Footer */
footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

/* Style for icon-bar Class */
.icon-bar {
    background-color: #fff;
}



/* Style for accountform Class */
.accountform {
    padding-top: 20px;
}

/* Style for story-img Class */
.story-img {
    margin-top: 25%;
    display: block;
}

/* Masthead Styles */
#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}

#masthead .well{
    margin-top: 31px;
    min-height: 127px;
}

/* Style for badge Class */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/* Styles for label-warning and badge-warning Classes */
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* Style for Scheme Class */
.scheme {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

/* Styles for caption and p */
caption p {
    word-wrap: break-word;
}

/* Styles for row and row-flex Classes */
.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* Style for panel-default Class */
.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

/* Style for panel-body Class */
.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

/* Style for scheme-comment Class */
.scheme-comment {
    min-height: 40px;
}

/* Style for boldtext Class */
.boldtext{
    font-weight: bold;
}

/* Apply Media Query */
@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

/* Schemes */
.items {
    text-align: center;
}

.scheme-title {
    text-transform: uppercase;
    color: #212121;
    font-weight: bolder;
}

.scheme-image {
    width: 125px;
    height: 95px;
}