{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<!-- Display Heading -->
<h3 class="demonstrations-headings">Demonstrations</h3>

<!-- Display Paragraph -->
<p>Demonstrations Timetable</p>

<!-- Create a Responsive Table -->
<div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Scheme Title</th>
                </tr>
                
                <tr>
                    <td>0900</td>
                    <td>Microsoft Excel</td>
                </tr>
                
                <tr>
                    <td>1000</td>
                    <td>Microsoft PowerPoint</td>
                </tr>
                    
                <tr>
                    <td>1100</td>
                    <td>Garden Lighting</td>
                </tr>
                
                <tr>
                    <td>1300</td>
                    <td>Adobe Photoshop</td>
                </tr>
                
                <tr>
                    <td>1400</td>
                    <td>Information Security</td>
                </tr>
                
                <tr>
                    <td>1500</td>
                    <td>Web Design</td>
                </tr>
                
                </table>
        </div>

<!-- Link to Download PDF File -->
<p>Want more details or a print out?  Download it here
<a href="{% static 'pdf/demos-details.pdf' %}" target="_blank" title="Details of Demonstrations" class="download-pdf">
        <i class="fa fa-download"></i></a>
</p>
<!-- Link to news page -->
<a href="{% url 'news' %}" title="Return to News Page">Return To News Page</a>
{% endblock %}