{% extends 'base.html' %}
{% block content %}

<div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="/media/img/profile.jpg" class="img-circle">
                </a>

                <p><span class="boldtext">Author:</span> Derek</p>
            </div>

            <div class="col-md-10 col-sm-9">
                {% if scheme.image %}
                    <img class="img-schemepost" src="/media/{{ scheme.image }}">
                {% endif %}
            <h3>{{ scheme.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                <p>{{ scheme.description }}</p>
                <p>{{ scheme.comment }}</p>
                <p><span class="boldtext">Published on:</span> {{ scheme.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{scheme.views}}</p>
                <p><span class="boldtext">Completion (%):</span> {{ scheme.completion }}</p>
                <a href="{% url 'get_schemes' %}" class="btn btn-default">Back to Scheme</a>
                <a href="{% url 'edit_scheme' scheme.id %}" class="btn btn-default">Edit Scheme</a>
            </div>
            
            
            
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}